@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaijaan');


body {
    background: url(../images/waterfall.gif) no-repeat fixed center;
    background-size: cover;
    text-align: center;
    font-family: 'Baloo Bhaijaan', cursive;
}
